nav{
    height: 50px;
    background-color:lightgray;
    line-height:30px;
    font-size: 25px;
}
nav li{
    list-style:none;
    padding: 10px;
}
nav > ul> li{
    float:left;
}
nav li:hover{
    background-color: darkgray;
}
nav a{
    color: black;
    text-decoration:none;
}
.dropdown{
    background-color: lightgray;
    position: absolute;;
    display: none;
    padding: 10px;
}
nav > ul >li:hover > ul{
    display: block;
}